.filling-text {
    font-size: 20px;
    color: #777;
    margin-bottom: 15px;
    text-align: center;
}

.ant-btn {
    height: 48px;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .ant-btn {
        font-size: 20px;
        height: 42px;
    }
}