.login-section {
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.google-login-box {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    transition: 70ms ease-out;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.google-login-box:hover, .google-login-box:active {
    border: 1px solid cornflowerblue;
    box-shadow: 1px 2px 5px #74b9ff;
}


.login-section p {
    color: #777;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.google-logo {
    border: 1px solid #000;
    padding: 8px 8px 0px 8px;
}

.google-logo img {
    width: 25px;
    height: 25px;
}

.signin-text {
    padding: 6px 17px 6px 17px;
    font-size: 22px;
    color: #fff;
    background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
    .login-section {
        font-size: 15px;
    }

    .login-section button div {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    .login-section p {
        font-size: 14px;
    }
}