.verify-form-wrapper {
    justify-content: center;
    text-align: center;
}

.verify-text {
    font-size: 20px;
    color: #777;
    margin-bottom: 20px;
}

.verify-box {
    background-color: #0984e3;
    display: inline-flex;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 10px;
}

.verify-button {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.verify-box:hover, .verify-box-box:active {
    border: 1px solid cornflowerblue;
    box-shadow: 1px 2px 5px #74b9ff;
    transform: scale(1.05);
}
.table-confirm{
    display: flex;
    /* font-size: 20px; */
    color: #777;
    justify-content:center;
    margin:10px;
}
.table-confirm table{
    border-collapse: collapse;
    /* width: 100%; */
}

.table-confirm table td, .table-confirm table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
.table-confirm table  tr:nth-child(even){background-color: #f2f2f2;}
.table-confirm table tr:hover {background-color: #ddd;}
.noselects {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }