.challenge__section {
    padding: 60px 0 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
  
  .challenge__container-card {
    background: #fafafa;
    box-shadow: 0 20px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: auto;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    padding-bottom:10px ;
  }

  .challenge__container-card:hover {
    transform: scale(1.1);
    transition: 90ms ease-out;
  }
  
  .challenge__container-card:nth-child(2)  {
    margin: 0 65px;
  }
  
  .challenge__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .challenge__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .challenge__heading {
    color: #1c2237;
    margin-bottom: 25px;
    cursor: default;
    font-size: 2.3em;
  }

  .challenge__heading:hover {
    transform: scale3d(1.1, 1.1, 1.3);
    color: red;
  }
  
  .challenge__container-cardInfo {
    flex-direction: column;
    height: auto;
    padding: 0px;
    align-items: center;
    color: #000;
  }

  
  /*---------- CARD HEADER ---------*/
  .challenge-icon {
    font-size: 5em;
    color: white;
    left: 3vw;
    top: 4vh;
    position: absolute;
  }

  .challenge-card-header  {
    /* margin: 22px 0; */
    background: red;
    width: 100%;
    height: 20vh;
    text-align: center;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;

  }

  .header1 {
    background-color: #990000;
    background-image: linear-gradient(147deg, #ff0000 0%, #990000 74%);
  }

  .header2 {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  }

  .header3 {
    
    background-color: #378b29;
    background: linear-gradient(315deg, #378b29 0%, #74d680 74%);

  }

  .challenge-card-header h3 {
    font-size: 24px;
    cursor: default;
    position: absolute;
    right: 10px;
    bottom: 5px;
    
  }
  /*------------------------------*/

  /*--------- CARD BODY --------------*/
  .cardInfo-detail {
    padding-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background: #fafafa;
  }
  
  .cardInfo-detail p {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: default;
  }

  .time {
    margin-bottom: 15px;
    font-size: 20px;
    
  }
  
  .progress-status{
    display: flex;
    justify-content: center;
  }

  .progress-status-icon {
    color: #52c41a;
    font-size: 20px;
    margin-right: 5px;
  }

  .progress-waiting-icon {
    margin-right: 10px;
  }

  .progress-status-text {
    font-size: 18px;
  }

  /*----------------------------------*/
  
  /*---------- CARD FOOTER -------------*/
  .toggle-arrow {
    align-items: center;
    align-self: center;
    width: 50px;
    height: 50px;
    bottom: 0px;
    cursor: pointer;
    width: 100%;
  }

  .toggle-arrow.invalid-toggle {
    cursor: default;
  }

  .Collapsible {
    text-align: center;   
  }

  .expanded-text {
    font-size: 1em;
    padding: 12px;
    cursor: default;
  }

  .toggle-up {
    border-bottom: 1px solid #dbdbdb;
    width: 80%;
  }

  /*---------------------------------------*/

  /*-------------------------------------------------------*/
  @media screen and (max-width: 960px) {
    .challenge__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .challenge__container-card {
      width: 90%;
      height: auto;
    }
  
    .challenge__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .challenge__container-card:nth-child(2) {
      margin: 10vw;
    }

    .challenge__container-card:hover {
      transform: scale(1.06);
      transition: all 0.4s ease-out;
    }

    /*------------ CARD BODY --------------*/
    .cardInfo-detail p {
      font-size: 22px;
    }

    .time {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 961px) and (max-width: 1227px) {
    .challenge__section {
      width: 128%;
    }
  }