.challenge__section {
    padding: 60px 0 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
}
  
  .challenge__container-card {
    /* background: linear-gradient(45deg, #0660e9 0%, #276afb 100%); */
    background: #fafafa;
    box-shadow: 0 20px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: 300px;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
  }

  .challenge__container-card.active {
    left: 0;
    height: 75vh;
    transition: all 0.6s step-end;
    z-index: 1;
  }
  
  .challenge__container-card:hover {
    transform: scale(1.1);
    transition: 90ms ease-out;
    
  }
  
  .challenge__container-card:nth-child(2), .challenge__container-card:nth-child(4)  {
    margin: 0 24px;
  }
  
  .challenge__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .challenge__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .challenge__heading {
    color: #1c2237;
    margin-bottom: 20px;
    cursor: default;
    font-size: 2.2em;
  }

  .challenge__heading:hover {
    transform: scale3d(1.1, 1.1, 1.3);
    color: red;
  }
  
  .challenge__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px;
    align-items: center;
    color: #000;
  }

  
  /*---------- CARD HEADER ---------*/
  .challenge-icon {
    font-size: 64px;
  }

  .challenge-card-header {
    /* margin: 22px 0; */
    background: red;
    width: 100%;
    height: 20vh;
    text-align: center;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .challenge-card-header h3 {
    font-size: 24px;
    cursor: default;
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
  /*------------------------------*/

  /*--------- CARD BODY --------------*/
  .cardInfo-detail {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background: #fafafa;
  }
  
  .cardInfo-detail p {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: default;
  }

  .time-heading, .time-number {
    font-size: 22px;
  }

  .progress-status{
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .progress-status-icon {
    color: #52c41a;
    font-size: 20px;
    margin-right: 5px;
  }

  .progress-waiting-icon {
    margin-right: 10px;
  }

  .progress-status-text {
    font-size: 18px;
  }

  /*----------------------------------*/
  
  .toggle-arrow {
    align-items: center;
    align-self: center;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
  }

  .toggle-arrow.invalid-toggle {
    cursor: default;
  }

  /*-------------------------------------------------------*/
  @media screen and (max-width: 960px) {
    .challenge__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .challenge__container-card {
      width: 90%;
    }
  
    .challenge__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .challenge__container-card:nth-child(2), .challenge__container-card:nth-child(4) {
      margin: 24px;
    }

    .challenge__container-card:hover {
      transform: scale(1.06);
      transition: all 0.4s ease-out;
    }
  }