.carousel-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.InfiniteCarousel {
    position: relative;
    width: 65%;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    height: 40%;
    margin-bottom: 40px;
}

.InfiniteCarousel  img{
    height: 270px;
    /* border: 2px solid blue; */
}

.InfiniteCarousel  img:hover {
   /* z-index: 1;
   transform: scale(1.25);
   box-shadow: 0 25px 40px rgba(0, 0, 0, .5); */
  
}

.photo-wrapper {
    width: max-content;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-paragraph {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.text-paragraph-header {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding: 25px 0;
    width: fit-content;
    letter-spacing: 5px;
    color: #d63031;
    cursor: default;
}

.text-paragraph-body {
    font-size: 1.5rem;
    cursor: default;
    line-height: 34px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.visit-link, .visit-link a {
    color: #5a73fc;
    cursor: pointer;
    display: inline-flex; 
    text-decoration: none;
    font-size: 24px;
}

.link-arrow {
    margin-top: 5px;
}

.visit-link a {
    margin-left: 10px;
    margin-right: 5px;
}

.visit-link:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/*----------EXTRA SMALL DEVICES---------*/
@media only screen and (max-width: 600px) {
    .text-paragraph-header {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 20px 0;
        width: fit-content;
        cursor: pointer;
        letter-spacing: 3px;
    }

    .InfiniteCarousel {
        width: 65%;
    }

    .text-paragraph-body {
        font-size: 1rem;
        line-height: 30px;
        line-height: 22px;
    }

    .visit-link, .visit-link a {
        font-size: 15px;
    }
}

/*-------- MEDIUM DEVICES --------------*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .InfiniteCarousel {
        width: 90%;
    }
}

@media screen and (min-width: 961px) and (max-width: 1227px) {
    .carousel-wrapper {
        width: 128%;
    }
}


/*------------LARGE DEVICES -----------*/
/* @media screen and (min-width: 976px) {
    .InfiniteCarousel {
        width: 59%;
    }

    .InfiniteCarousel  img {
        width: 80%;
    }
} */