.wrapper {
    background-image: url('background-image.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 97vh;
    width: 100%;
    overflow-y: hidden;
}

 .overlay-color {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #4b4b4b;
    opacity: 60%;
    overflow-y: hidden;
}

.logo {
    margin-top: 6vh;
    margin-left: 6vh;
    width: 100px;
    height: 100px;
    position: relative;
}

.greeting {
    position: relative;
    font: 400;
    font-family: sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.invitation {
    position: relative;
    font: 400;
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 7vh;
}

.signup-box {
    position: relative;
    text-align: center;
    align-self: center;
    background: #d32f2f;
    border-radius: 30px;
    width: 25%;
    height: 3rem;
    font-size: 5vh;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    transition: 5ms ease-in;
}

button:active {
    transform: scale(0.95);
}

.signup-box:hover ,.signup-box:focus{
    background: #af0606;
    transform: scale(0.95);
  }

