.require__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
  }
  
  .require__container-card {
    background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
    box-shadow: 0 20px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: 350px;
    text-decoration: none;
    border-radius: 15px;
  }
  
  .require__container-card:hover {
    transform: scale(1.1);
    transition: .4s ease-out;
    background-color: #29539b;
background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    transition-delay: 0.05s;
  }
  
  .require__container-card:nth-child(2), .require__container-card:nth-child(4)  {
    margin: 0 24px;
  }
  
  .require__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .require__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .require__heading {
    margin-bottom: 20px;
    cursor: default;
    font-size: 2.2em;
  }
  
  .require__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: #fff;
  }
  
  .require__container-cardInfo h3 {
    margin-bottom: 20px;
    font-size: 24px;
    cursor: default;
  }
  
  .require__container-cardInfo p {
    font-size: 24px;
    margin-bottom: 24px;
    cursor: default;
  }
  
  .icon {
    margin: 22px 0;
  }
  
  @media screen and (max-width: 960px) {
    .require__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .require__container-card {
      width: 90%;
    }
  
    .require__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .require__container-card:nth-child(2), .require__container-card:nth-child(4) {
      margin: 24px;
    }

    .require__container-card:hover {
      transform: scale(1.06);
      transition: all 0.4s ease-out;
      background: #242424;
    }
  }