.form-header {
    padding-top: 20px;
}

.form-header h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 500;
    cursor: default;
    color: #4834d4;
}

.ant-form-item-label { 
    text-align: right;
    font-size: 22px;
}

.label {
    font-size: 18px;
}

input {
    padding: 10px 0 10px;
}

.ant-cascader-picker-arrow {
    right: 28vw;
}

.ant-btn {
    height: 48px;
    font-size: 24px;
}
@media only screen and (max-width: 576px) {
    .form-header h1 {
        font-size: 2rem;
    }

    .ant-form {
        
        text-align: center;
    }

    .ant-form-item-label {
        text-align: left;
    }

    .ant-input {
        width: 75%;
    }
    
    .ant-input-group {
        width: 75%;
    }

    .ant-cascader-input.ant-input {
        width: 90%;
    }

    .ant-input-group-wrapper {
        text-align: -webkit-center;
    }

    .ant-form-item .ant-form-item-label {
        margin-left: 12%;
    }

    .ant-cascader-picker-arrow {
        right: 10vw;
    }
}