* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT sans', sans-serif;
}


.ant-back-top {
  width: fit-content;
}

.ant-back-top-content {
  background-color: black;
  width: 45px;
  height: 45px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  font-size: 28px;
  font-weight: bolder;
  padding: 8px;
  position: fixed;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
}

